<header>
  <div class="top-header">
    <a href="/"><img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo"></a>
    
    <form class="search" action="" method="post">
      <input type="search" name="search" placeholder="Buscar productos, marcas">
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
    <h3>
      <i class="fa-solid fa-hand-holding-dollar"></i>
      Comprá en cuotas y sin tarjeta de crédito
    </h3>
  </div>  
    <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li><a href="/user/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
          <li><a href="/user/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
          <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
  <div class="burger-menu">
    <i class="fa-solid fa-bars"></i>
  </div>
</header>

<section>
  <img class="banner" src="/img/img-home-banner.jpg" alt="img-home-banner">
</section>