<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/a4dafc7c79.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/styles.css">
  
</head>
<body>
  <header>
    <div class="top-header">
      <img class="logo" src="img/logo-mercado-liebre.svg" alt="Logo">
      <div class="search">
        <input type="search" name="search" placeholder="Buscar productos, marcas">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <h3>
        <i class="fa-solid fa-hand-holding-dollar"></i>
        Comprá en cuotas y sin tarjeta de crédito
      </h3>
    </div>  
      <nav>
           <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
          </ul>
          <ul>
            <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
      </nav>
    <div class="burger-menu">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>

  <main id="register-form">

    <form action="/" method="get" class="register">

      <div class="text-field">
        <input type="text" name="nombre" placeholder="Nombre y apellidos" required>
      </div>
      <div class="text-field">
        <input type="text" name="usuario" placeholder="Nombre de usuario" required>
      </div>

      <div class="photo">
        <h3>Sube tu foto de perfil</h3>
        <input type="file" name="foto" multiple>
      </div>

      <div class="born-date">
        <h3>Fecha de nacimiento</h3>
        <input type="date" name="nacimiento">
      </div>
     
      <div class="text-field">
        <input type="text" name="domicilio" placeholder="Direccion">
      </div>

      <div class="user-profile">
        <h3>Perfil del usuario</h3>
        <div class="option-container">
          <div class="seller">
            <label for="vendedor">Vendedor</label>
            <input type="radio" name="perfil" value="vendedor" id="vendedor">
          </div>
          <div class="buyer">
            <label for="comprador">Comprador</label>
            <input type="radio" name="perfil" value="comprador" id="comprador">
          </div>
        </div>
        
      </div>

      <div class="interest"> 
        <h3>Intereses</h3> 
        <div>
          <input type="checkbox" name="electro" id="electro">
        <label for="electro">Electro</label>
        </div>
        <div>
          <input type="checkbox" name="moda" id="moda">
        <label for="moda">Moda</label>
        </div>
        <div>
          <input type="checkbox" name="hogar" id="hogar">
        <label for="hogar">Hogar</label>
        </div>
        <div>
          <input type="checkbox" name="jugeteria" id="jugeteria">
        <label for="jugeteria">Jugeteria</label>
        </div>
        <div>
          <input type="checkbox" name="vida sana" id="vida sana">
        <label for="vida sana">Vida sana</label>
        </div>
      </div>
      <div class="text-field">
        <input type="password" name="contrasenia" placeholder="Contrasenia" required>
      </div>
      <div class="text-field">
        <input type="password" name="contraseniaConfirmar" placeholder="ConfirmarContrasenia" required>
      </div>
        <div class="buttons">
          <a href="/home"><button class="submit" type="submit">Enviar</button></a>
        <button class="reset" type="reset">Borrar</button>
        </div>
        
  
    </form>
  </main>

  <footer>
    <div class="footer-container">
        <section class="pay">
          <div class="icon-color">
            <i class="fa-regular fa-credit-card"></i>
          </div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <h4>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!
          </h4>
      </section>

      <section class="delivery">
          <div class="icon-color">
            <i class="fa-solid fa-gift"></i>
          </div>
          <h3>Envío gratis desde $ 2.500</h3>
          <h4>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.
          </h4>
      </section>

      <section class="security">
        <h3>
          <div class="icon-color">
            <i class="fa-solid fa-user-shield"></i>
          </div>
          <h3>Seguridad, de principio a fin</h3>
          <h4>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
          </h4>
      </section>
    </div>
    
        <h3 class="copyright">
          Copyright © 1999-2020 MercadoLiebre S.R.L.
        </h3>  
  </footer>
</body>
</html>